.toolkit-shell {
    flex-grow: 1;
    flex-direction: column;
    min-height: 0;
}

.toolkit-shell__navigation {
    height: 38px;
    flex-shrink: 0;

    flex-direction: row;
    align-items: flex-end;

    padding-left: 8px;

    border-bottom-width: 1px;
    border-bottom-color: rgba(128, 128, 128, 0.4);
}

.toolkit-shell__tab {
    height: 32px;

    min-width: 110px;

    margin-right: 3px;

    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.toolkit-shell__tab--active {
    border-bottom-color: rgb(70, 145, 230);

    -unity-font-style: bold;
}

.toolkit-shell__content {
    flex-grow: 1;
    min-height: 0;
}
